body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   /* ✅ important */
  align-items: center;      /* centers items horizontally */
  justify-content: flex-start; /* start at top instead of vertical centering */
}

h1{
    text-align: center;
    margin: 0;
    padding: 1.25rem;
}

h2{
    margin-top: 2rem;
}
h3{
    text-align: center
    
}

hr{
    margin: 1.5rem 0;
}


table, th, td {
    border: 1px solid black;
    margin-bottom: 10px;
    align-items: center;
}
th, td {
    padding: 20px;
    text-align: center;
    width: 100rem;
}
td {
    width: 15rem;
}
img{
    width: 300px;
    height: auto;
    margin: 10px;
    border: 6px double black;
    flex-direction: row;
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    width:min(400px,100%);

}

.image-grid img{
    width: 100%;
    height: auto;
    margin: 0px;
    border: 6px double black;
}

.links{
    display:flex;
    justify-content: center;
    gap:1.25rem;
    flex-wrap: wrap;
    margin: .75rem 0 1.25rem;
}